<% include src='/views/layouts/main' type='layout' %>


<div id="body">
    <h1>Example App: {{title}}</h1>
    <h2>{{time}}</h2>
</div>
<a href="/" data-update='/?json#article' data-template='/views/index.handlebars'>refresh</a>
