<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    
</head>
<body>
    <article>
        <h2>Sample UMD</h2>
        
    </article>
    <aside>SideBar</aside>
    <footer>Footer</footer>
    <script data-main="/javascripts/app/sample" src="/javascripts/lib/require.js"></script>
</body>
</html>
