<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <include src'/views/partials/nav' type='partial' name=></include>
</head>
<body>
    <header>{{> nav}} <h2>{{time}}</h2></header>
    <article>{{{body}}}</article>
    <aside>SideBar</aside>
    <footer>Footer</footer>
    <script data-main="/javascripts/app/main" src="/javascripts/lib/require.js"></script>
</body>
</html>